<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bnrc.busapp">

    <!-- 基本权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 百度地图SDK相关权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Mob shareSDK 所需权限 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="com.bnrc.busapp.application.BnrcApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="bSzKSyFy5ybYPQBP6Za0hPIs7uXgG9Ny" />
        <meta-data
            android:name="Mob-AppKey"
            android:value="26b36fd31d4d1" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="2807e5e9f4f10865b5203f9ec7411980" />

        <activity android:name="com.bnrc.busapp.view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bnrc.busapp.view.activity.HomeActivity"
            android:launchMode="singleInstance" />
        <activity android:name="com.bnrc.busapp.view.activity.ARActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.SubWayActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.SearchSomethingActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.RouteActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.BuslineListActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.StationListActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.BuslineMapActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.AboutActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.AlertSelectListActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.BusCircleActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.LoginActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.RegisterActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.SearchActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.base.BaseActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.SettingActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.StationRouteActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.SugSearchActivity" />
        <activity android:name="com.bnrc.busapp.view.activity.RateActivity"></activity>

        <service android:name="com.bnrc.busapp.service.ScanService">
            <intent-filter android:priority="1000">
                <action android:name="com.bnrc.bnrcbus.scanservice" />
            </intent-filter>
        </service>

        <service android:name="com.bnrc.busapp.service.AlertService">
            <intent-filter>
                <action android:name="com.bnrc.bnrcbus.AlertService" />
            </intent-filter>
        </service>
    </application>

</manifest>